<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404</title>
</head>
<body>
  <main id="404-main" class="error-main" role="main">
    <div id="404-container"class="container">
        <h1 id="error-code" class="error-heading">
          500
        </h1>
        <h2 id="error-title" class="error-sub-heading">
          Internal Server Error
        </h2>
        <p id="status-message" class="error-text">
          Something went wrong when attempting to contact server.<br>
          Please contact your server admin, or try again later. <br>
        </p>
      </div>
    </div>
  </main>
</body>
</html>