{% extends templates/base.html %}

{% block title %}Home{% end block%}

{% block content_heading%}Welcome!{% endblock }

{% block content %}
  <div class="content-main">
    <p class="text">
      Here ye all,  <br>
      Along the shores <br>
      Sails are set, <br>
      To drag once more. <br><br>
      
      The shells and stones <br>
      That line the bank <br>
      Remind of old decor <br>
      For once we'd lost <br>
      But we don't have </br>
      those setbacks anymore <br>

      Of prickly pears, and <br>
      Dented spines. <br>
      A message on the viser. <br>
      A comrade laughs, A lady gasped><br>
      And they were none the wiser<br>
      </p>


















    
      
    </p>
  </div>
{% endblock %}